*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container{
    width: 100%;
    min-height: 100dvh;
    background: url("./background.jpg") no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
}
#card{
    max-width: 400px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.203);
    padding: 25px 16px;
    border-radius: 12px;
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.325);
}
#card-content {
    padding: 12px 40px;
  }
  #card-title {
    font-family: sans-serif;
    letter-spacing: 4px;
    padding-bottom: 23px;
    padding-top: 13px;
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
    h2{
      color: transparent;
      -webkit-text-stroke: 2px black;
    }
  }
  .underline-title {
    background: linear-gradient(to right, blue, lightblue);
    height: 2px;
    margin: -1.1rem auto 0 auto;
    width: 86px;
    border-radius: 24px;
  }
  label {
    font-family:sans-serif;
    font-size: 12px;
    padding-top: 18px;
    padding-bottom: 6px;
  }
  #submit-btn {
    background: -webkit-linear-gradient(right, #7bb1f7, #3d2ec0);
    border: none;
    border-radius: 21px;
    box-shadow: 0px 1px 8px #c6247a;
    cursor: pointer;
    color: white;
    font-family:sans-serif;
    height: 42.3px;
    margin: 0 auto;
    margin-top: 40px;
    transition: 0.25s;
    width: 155px;
  }
  #submit-btn:hover {
    box-shadow: 0px 1px 18px pink;
  }
#forgot-pass {
    color: rgb(59, 33, 225);
    font-family:sans-serif;
    font-size: 11pt;
    margin-top: 3px;
    text-align: right;
  }
  #signup {
    color: blue;
    font-family:sans-serif;
    font-size: 10pt;
    margin-top: 16px;
    text-align: center;
  }
  .form {
    align-items: left;
    display: flex;
    flex-direction: column;
  }
  .form-border {
    background: -webkit-linear-gradient(right, #7bb1f7, #3d2ec0);
    height: 1px;
    width: 100%;
  }
  .form-content {
    background: #fbfbfb;
    border: none;
    outline: none;
  }
  input{
    padding: 8px;
    border-radius: 5px;
    font-size: 16px;
  }

